*{
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    width: 50vw;
    height: 50vh;
    background-color: #d2d2d2;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
}